4.1 Food

In [ ]:
# List of favorite foods
favorite_foods = ["Pizza", "Apple", "Chocolate"]
print(favorite_foods)

['Pizza', 'Apple', 'Chocolate']

In [ ]:
#a.) Using a for loop to print the name of each food
for food in favorite_foods:
    print(food)

Pizza
Apple
Chocolate

In [ ]:
#b.) & c.) Modifying the loop to print a sentence and A line stating how much you like food
for food in favorite_foods:
    print("I like " + food + ".")
print("I really enjoy food!")

I like Pizza.
I like Apple.
I like Chocolate.
I really enjoy food!

4.2 Animals

In [ ]:
animals = ["dog", "cat", "elephant", "lion", "dolphin"]
for animal in animals:
    print(animal)

dog
cat
elephant
lion
dolphin

In [ ]:
animals = ["dog", "cat", "elephant", "lion", "dolphin"]
for animal in animals:
    print("A " + animal + " would make a great pet.")
print()
print("Any of these animals would make a great pet!")

A dog would make a great pet.
A cat would make a great pet.
A elephant would make a great pet.
A lion would make a great pet.
A dolphin would make a great pet.

Any of these animals would make a great pet!

4.3 Counting to twenty

In [ ]:
for number in range(1, 21):
    print(number)
total = sum(range(1, 21))
print("Total sum of numbers from 1 to 20:", total)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
Total sum of numbers from 1 to 20: 210

4.4 Counting to one million

In [ ]:
numbers = list(range(1, 1000001))
print("Minimum:", min(numbers))
print("Maximum:", max(numbers))
total = sum(numbers)
print("Sum of a million numbers:", total)

Minimum: 1
Maximum: 1000000
Sum of a million numbers: 500000500000

4.5 Odd Numbers

In [ ]:
odd_numbers = list(range(1, 21, 2))
for number in odd_numbers:
    print(number)

1
3
5
7
9
11
13
15
17
19

4.6 Cubes

In [ ]:
cubes = [x**3 for x in range(1, 11)]
for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

4.7 Slicing a list

In [ ]:
#a.)
for i in range(3):
    print(animals[i])
#b.)
print(animals[:3])
#c.)
print("The last three items in the list are:", animals[-3:])

dog
cat
elephant
['dog', 'cat', 'elephant']
The last three items in the list are: ['elephant', 'lion', 'dolphin']

4.8 Sorting a list and a tuple

In [ ]:
copied_animals = animals.copy()
print("Original list:", animals)
copied_animals.sort()
print("Alphabetized copied list:", copied_animals)
animals_tuple = tuple(animals)
sorted_tuple = tuple(sorted(animals))
print("Sorted tuple:", sorted_tuple)

Original list: ['dog', 'cat', 'elephant', 'lion', 'dolphin']
Alphabetized copied list: ['cat', 'dog', 'dolphin', 'elephant', 'lion']
Sorted tuple: ('cat', 'dog', 'dolphin', 'elephant', 'lion')