1. What is the output of the following code?

for x in range(0, 5):

    print(x)

In [ ]:
for x in range(0,5):
  print(x)

0
1
2
3
4

Question 2  What is true about this code?  

     value1 = 5 ** 2
     value2 = "5 * 3"
     print(value1, value2)

In [ ]:
value1 = 5**2
value2 = "5 * 3"
print(value1, value2)

25 5 * 3

Question 3  What is true about the following code? Multiple answers

for i in range(10, 16, 2):
     print(i)

In [ ]:
for i in range(10, 16, 2):
  print(i)

10
12
14

Question 4 The ‘in’ operator is used to check if a value exists within a list. It results in "True" if it finds an item in the list and False if it does not find an item in the list.

In [ ]:
animals=['fox', 'dog', 'bird']
for animal in animals:
  if animal =='fox':
    print(animal =='fox')
  else:
    print(f"{animal} is not a fox")

True
dog is not a fox
bird is not a fox

Question 5 What is true about  the following code? Multiple Answers

students=['Mohan', 'John', 'Ramesh', 'Mohan', 'John']
print("List of Students:", students)
team=set(students)
print("The team has:",team)

In [ ]:
students=['Mohan', 'John', 'Ramesh', 'Mohan', 'John']
print(f"List of Students: {students}")
team=set(students)
#team.append("abdul")
print(team)
print(f"'The set team has: {team}.")
team2=tuple(students)
print(f"The tupple team has: {team2}")

List of Students: ['Mohan', 'John', 'Ramesh', 'Mohan', 'John']
{'Mohan', 'Ramesh', 'John'}
'The set team has: {'Mohan', 'Ramesh', 'John'}.
The tupple team has: ('Mohan', 'John', 'Ramesh', 'Mohan', 'John')

Question 6 What is the output of the following code?

sampleList = ["Jon", "Kelly", "Jessa"]

sampleList.append("Scott")

print(sampleList)

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append("Scott")
print(sampleList)

['Jon', 'Kelly', 'Jessa', 'Scott']

Question 7 The following code does not work.  . Write code that works below when a =  2  and when a = 400.  Write the code in this canvas essay section:
a= 2
b = "330"
if a > b:
  print("a")
else:
  print("b")

In [ ]:
a = 2
b = 330
if a > b:
  print("a")
else:
  print("b")

b

In [ ]:
a = 400
b = 330
if a > b:
  print("a")
else:
  print("b")

a

This is change the value for the print

In [ ]:
a = 400
b = 330
if a > b:
  print(a)
else:
  print(b)

400

What is the output of
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")
else:
    print("200>33 and 500>200")

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")
else:
    print("200>33 and 500>200")

Both conditions are True

Question 8  What is true about the output of
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        print(x)
        Fix question

In [ ]:
fruits = ["apple", "banana", "banana"]
for x in fruits:
  if x == "banana":

    print(x)

banana
banana

Question 9 What is true about the following code? multiple answers

adj = ["red", "yellow"]
fruits = ["apple", "banana"]
for x in adj:  
   for y in fruits:
      print(x, y)

adj = ["red", "yellow"]
fruits = ["apple", "banana"]
for x in adj:  
   for y in fruits:
      print(x, y)

In [ ]:
adj = ["red", "yellow"]
fruits = ["apple", "banana"]
for x in adj:
   for y in fruits:
      print(x, y)

red apple
red banana
yellow apple
yellow banana

In [ ]:
adj = {"red", "yellow"}
fruits = {"apple", "banana"}
for x in adj:
   for y in fruits:
      print(f"set is {x}, {y}")

set is red, banana
set is red, apple
set is yellow, banana
set is yellow, apple

In [ ]:
adj = ("red", "yellow")
fruits = ("apple", "banana")
for x in adj:
   for y in fruits:
      print(f"tupple is {x}, {y}")

tupple is red, apple
tupple is red, banana
tupple is yellow, apple
tupple is yellow, banana

Question 10 What is the output of

adj = ["red", "yellow"]
fruits = ["apple", "banana"]
for x in fruits:
     if x=="apple": print(adj[0], x)
     else: print(adj[1], x)

In [ ]:
adj = ["red", "yellow"]
fruits = ["apple", "banana"]
for x in fruits:
     if x=="apple": print(adj[0], x)
     else: print(adj[1], x)

red apple
yellow banana

Question 11 What is the output of the following code?
What is the output of the following code?

sampleList = ["Jon", "Kelly", "Jessa"]

sampleList.insert(2, "Scott")

print(sampleList)

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.insert(2, "Scott")
print(sampleList)

['Jon', 'Kelly', 'Scott', 'Jessa']

Question 12 What is the output of
set1 = {'b', 'g', 'd', 'e', 'b'}
print(sorted(set1))

In [ ]:
set1 = {'b', 'g', 'd', 'e', 'b'}
print(set1)
print(sorted(set1))

{'d', 'e', 'b', 'g'}
['b', 'd', 'e', 'g']

In [ ]:
set1 = {'b', 'g', 'd', 'e', 'b'}
set1.sort()
print(set1)

AttributeError: ignored

.sort is a method and will only be applicable on lists

Question 13 What is the output of

adj = ["red", "yellow"]
fruits = ["apple", "banana"]
for x in fruits:
     if x=="apple": print(adj[0], x)
     else: print(adj[1], x)

In [ ]:
adj = ["red", "yellow"]
fruits = ["apple", "banana"]
for x in fruits:
  print(x)
  if x=="apple":
    print(adj[0], x)
  else: print(adj[1], x)

apple
red apple
banana
yellow banana

Question 14  What is the output: sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.insert(2, "Scott")
print(sampleList)

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.insert(2, "Scott")
print(sampleList)

['Jon', 'Kelly', 'Scott', 'Jessa']

Question 15 set1 = {'b', 'g', 'd', 'e', 'b'}
print(sorted(set1))

In [ ]:
set1 = {'b', 'g', 'd', 'e', 'b'}

print(sorted(set1))

['b', 'd', 'e', 'g']

Question 16 What is the output: Friday = False
if Friday:
     print ("Casual day!")
else:
     print ("Dress code")

In [ ]:
Friday = False
if Friday:
     print ("Casual day!")
else:
     print ("Dress code")

Dress code

Old: Question 17 What is true about the following code: groceries = ["eggs", "bread", "milk"]
print (groceries[-1])

In [ ]:
groceries = ["eggs", "bread", "milk"]
print (groceries[-1])

milk

In [ ]:
groceries = ("eggs", "bread", "milk")
print(type(groceries))
print (groceries[-1])

<class 'tuple'>
milk

In [ ]:
groceries = {"eggs", "bread", "milk"}
print(type(groceries))
print (groceries[-1])

<class 'set'>

TypeError: ignored

Question 16 What type of collection is {'a', 'b', 'c'}?

In [ ]:
s= {'a', 'b', 'c'}
type(s)

set

Question 17  Store the names of three of your friends in a list called names.  Then use a for loop to print a message to each of them. The text of each message should be the same, but each message should include the person’s name. Write it 3 ways

In [ ]:
names=['bart','homer','lisa']
for name in names:
  print(f"My friend {name} is terrific. with fstatement")
  print("My friend", name, "is terrific. comma")
  print("My friend " +name +" is terrific.with +")
a='My friend'
b='is terrific'
c = "concatenation"
d = a +" " +name +" " +b +" " +c

print(d)

My friend bart is terrific. with fstatement
My friend bart is terrific. comma
My friend bart is terrific.with +
My friend homer is terrific. with fstatement
My friend homer is terrific. comma
My friend homer is terrific.with +
My friend lisa is terrific. with fstatement
My friend lisa is terrific. comma
My friend lisa is terrific.with +
My friend lisa is terrific concatenation

Question 18 Reading the code:

In [ ]:
animals=["monkey", "dog", "cat", "donkey", "bird", "deer"]
animals2=[]
for animal in animals[:]:
  print(animal)
  if len(animal)==3:
    print(animals)
    print(f" this is {animal} in {animals2}")
    animals.remove(animal)
    animals2.append(animal)
    print(f" this is {animal} in {animals2}")
    print(f" this is {animals}")
  else:
    continue
print(f'this is {animals}')
print(f'this is {animals2}')

monkey
dog
['monkey', 'dog', 'cat', 'donkey', 'bird', 'deer']
 this is dog in []
 this is dog in ['dog']
 this is ['monkey', 'cat', 'donkey', 'bird', 'deer']
cat
['monkey', 'cat', 'donkey', 'bird', 'deer']
 this is cat in ['dog']
 this is cat in ['dog', 'cat']
 this is ['monkey', 'donkey', 'bird', 'deer']
donkey
bird
deer
this is ['monkey', 'donkey', 'bird', 'deer']
this is ['dog', 'cat']

Question 19 To share your Colab homework with your instructors you should select Share and then select everyone in the MU community as a Viewer:

 Answer True

Question 20 Create an if-elif-else chain that prints three messages:  "low" if a number is between 0 and 10, "middle" if the number is between 10 and 20, and "high" if the number is greater than 20.

Now create a list of three numbers with one number between 0 and 10, another number between 10 and 20, and the third number greater than 20.

Now create a for loop that loops through the list and prints the three messages according to the  if-elif-else chain.

In [ ]:
nums=[5,10,15,20,25]
for num in nums:
  if num <10:
    print(f"{num} is less than  or equal to 10")
  elif num <=20:
    print(f"{num} is less than or equal to 20")
  else:
    print(f"{num} is greater than 20.")

5 is less than  or equal to 10
10 is less than or equal to 20
15 is less than or equal to 20
20 is less than or equal to 20
25 is greater than 20.

Question 21: While loops - 4 ways to end a while loop -- Method 1 a counter

In [ ]:
counter = 1
while counter <=3:
  print(f"The counter is {counter}")
  counter +=1

The counter is 1
The counter is 2
The counter is 3

Method 2 - a message

In [ ]:
x =""
while x != "quit":
  x=input("What's your name my friend?")
  print(x)

What's your name my friend?sue
sue
What's your name my friend?quit
quit

Method 3 - a flag

In [ ]:
x="Tell me what you think."
active = True
while active:
  msg=input(x)
  if msg=='NO':
    active=False
    print("Thanks for your thoughts")
  else:
    print(msg)

Tell me what you think.no
no
Tell me what you think.NO
Thanks for your thoughts

Method 4 - break

In [ ]:
x="Tell me what you think."
active = True
while active:
  msg=input(x)
  if msg=='quit':
    print("Thanks for your thoughts")
    break
  else:
    print(msg)

Tell me what you think.great exam
great exam
Tell me what you think.quit
Thanks for your thoughts

This is other code not related to the test.

In [ ]:
name=['mark', 'bog', 'sue']
subusers=name[0:2]
print(subusers)

['mark', 'bog']

In [ ]:
for x in range(1,5):
  print(x)

1
2
3
4

In [ ]:
name1 = ['phil', 'sarah', 'erin']
name2 = []
while name1:
  user = name1.pop(0)
  print(user)
  name2.append(user)
print(name1)
print(name2)

phil
sarah
erin
[]
['phil', 'sarah', 'erin']

In [ ]:
names = ['phil', 'sarah', 'erin','phil']
while 'phil' in names:
     names.remove('phil')

print(names)

['sarah', 'erin']

Question 1: Create a range

In [ ]:
numbers = range(11)  # Numbers from 0 to 10
result_list = []

for number in numbers:
    incremented = number + 4
    final_result = incremented / 2
    result_list.append(final_result)
    print(final_result)

print(result_list)

write a program create a range 0-10 move even numbers to a list called even and odd numbers to a list called print both lists if fancy use the join command with an f statement

In [ ]:
numbers = range(0,11)
odd_nums =[]
even_nums =[]
for number in numbers:

  if number % 2 == 0:
    even_nums.append(number)
  else:
    odd_nums.append(number)
print(odd_nums)
print(even_nums)

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 10]

Countries

In [ ]:

countries_5 = ["USA", "Canada", "UK", "Australia", "India"]
countries_2 = ["UK", "India", "China", "Germany"]
no_countries = []
for country in countries_2:
  if country in countries_5:
    print(f"{country} is in both lists.")
  else:
    no_countries.append(country)
print(f"\nTotal countries in countries_5: {len(countries_5)}")
print(f"Total countries in countries_2: {len(countries_2)}")
print(f"Total countries in no_countries: {len(no_countries)}")

if no_countries:
    print("\nCountries not in the list of 5 countries:")
    for country in no_countries:
        print(country)

UK is in both lists.
India is in both lists.

Total countries in countries_5: 5
Total countries in countries_2: 4
Total countries in no_countries: 2

Countries not in the list of 5 countries:
China
Germany

Colors

In [ ]:
# Initialize the set and lists
colors_set = {"red", "blue", "green", "yellow", "orange", "red", "blue"}
red_colors = []
blue_list = []

# Process colors - why do we have list() below??
for color in list(colors_set)[:]:
    if color == "red":
        colors_set.remove(color)
        red_colors.append(color)
    elif color == "blue":
        colors_set.remove(color)
        blue_list.append(color)
    else:
        print(f"{color} not red or blue.")

# Count the items
red_count = len(red_colors)
blue_count = len(blue_list)
set_count = len(colors_set)

# Print messages
print(f"The red_colors list has {red_count} items: {', '.join(red_colors)}.")
print(f"The blue_list has {blue_count} items: {', '.join(blue_list)}.")
print(f"The colors_set has {set_count} items: {'+ '.join(colors_set)}.")

green not red or blue.
orange not red or blue.
yellow not red or blue.
The red_colors list has 1 items: red.
The blue_list has 1 items: blue.
The colors_set has 3 items: green+ orange+ yellow.

Sets

In [ ]:
# Initialize the set and lists
colors_tup = ("red", "blue", "green", "yellow", "orange", "red", "blue")
print(colors_tup)
red_colors = []
blue_list = []
blue_counter = 0
red_counter = 0
# Process colors
for color in colors_tup:
    if color == "blue":
        blue_counter += 1

    elif color == "red":
        red_counter += 1

# Count the items
print("blue =", blue_counter)
print("red =",red_counter)
print(sorted(colors_tup))

('red', 'blue', 'green', 'yellow', 'orange', 'red', 'blue')
blue = 2
red = 2
['blue', 'blue', 'green', 'orange', 'red', 'red', 'yellow']

In [ ]:
colors = ["red", "blue", "green", "yellow", "orange", "red", "blue"]
colors2=[]
for color in colors[:]:
  print(color)
  x = colors.pop()
  print(color)
  colors2.append(x)

print(colors)
print(colors2)

red
red
blue
blue
green
green
yellow
yellow
orange
orange
red
red
blue
blue
[]
['blue', 'red', 'orange', 'yellow', 'green', 'blue', 'red']

In [ ]:
colors_set = ["red", "blue", "green", "yellow", "orange", "red", "blue"]
colors=[]
for color in colors_set:
  colors_set.remove(color)
  print(color)
  colors.append(color)

print(colors_set)
print(colors)

red
green
orange
blue
['yellow', 'red', 'blue']
['red', 'green', 'orange', 'blue']

In [ ]:
colors_set = ["red", "blue", "green", "yellow", "orange", "red", "blue"]
colors=[]
while colors_set:
  x = colors_set.pop()
  colors.append(x)

print(colors_set)
print(colors)

[]
['blue', 'red', 'orange', 'yellow', 'green', 'blue', 'red']

write a program create a range 0-10 move even numbers to a list called even and odd numbers to a list called
print both lists
if fancy use the join command with an f statement