In [ ]:
print("Hello my favourite class")

Hello my favourite class

In [ ]:
print(3+4)

7

Variable Excercise

In [ ]:
first_name = "Sue"   #this is a assignment statement. assigns the value sue to the variable first name
print(first_name)    #no need to use the quotation because it's a variable not a string

Sue

Method

In [ ]:
first_name = "Shristi"       # shristi is the value
print(first_name.title())    #here title is the method. when we add method, we need to add it with a (.) and the extra bracket is to later make it even more specific for this variable if needed

Shristi

In [ ]:
first_name = "Shristi"
last_name = " Ghimire"
print(first_name.title(),last_name.title())      #if you use "+"" you won't get space in between but is you add a "," you will get a space

Shristi  Ghimire

F-strings

In [ ]:
first_name = "Shristi"
last_name = "Ghimire"
full_name = f"{first_name} {last_name}"   #here full_name is a string not a function like print so when we are assinging the values of variables to a string, we need f before the quotation begins and curly brackets instead of ()
print(full_name.title())                  #print is a function

Shristi Ghimire

In [ ]:
first_name = "Shristi"
middle_int = "B"
last_name = "Ghimire"
full_name = f"{first_name} {middle_int} {last_name}"
print(f"Hello my friend {full_name.title()}!")  #if you remove f here, the value of full_name won't be used

Hello my friend Shristi B Ghimire!

Integer

In [ ]:
x=3
y=5
print(x+y) #we are assigning x and y as integers

8

Float

In [ ]:
x=3.5  #this is a float because it is in decimal
y=5.5
z=(x+y)
print(z)

9.0