Excercise 3.1

In [ ]:
#five places i would like to visit
places=['nepal', 'india', 'bhutan','denmark','france']
print(places)

['nepal', 'india', 'bhutan', 'denmark', 'france']

In [ ]:
#use sorted() to print list in alphabetical order
print(sorted(places))
print(places)

['bhutan', 'denmark', 'france', 'india', 'nepal']
['nepal', 'india', 'bhutan', 'denmark', 'france']

In [ ]:
#use sorted to print list in reverse
reverse_places=sorted(places,reverse=True)
print(reverse_places)
print(places)

['nepal', 'india', 'france', 'denmark', 'bhutan']
['nepal', 'india', 'bhutan', 'denmark', 'france']

In [ ]:
#use reverse() to change the order of your list
print(places)
places.reverse()
print(places)

['nepal', 'india', 'bhutan', 'denmark', 'france']
['france', 'denmark', 'bhutan', 'india', 'nepal']

In [ ]:
#use reverse()to bring list to original order
print(places)
places.reverse()
print(places)

['france', 'denmark', 'bhutan', 'india', 'nepal']
['nepal', 'india', 'bhutan', 'denmark', 'france']

In [ ]:
#use sort()to change list permanently
places.sort()
print(places)

['bhutan', 'denmark', 'france', 'india', 'nepal']

In [ ]:
#use sort() to store list in reverse alphabetical order
places.sort(reverse=True)
print(places)

['nepal', 'india', 'france', 'denmark', 'bhutan']

3.2

In [ ]:
#make a list including 3 people, invite them
friends=['Sal','Kri','Riya']
for friend in friends:
  print(f"{friend} please come to my place for dinner.")

Sal please come to my place for dinner.
Kri please come to my place for dinner.
Riya please come to my place for dinner.

In [ ]:
#use len() to print a message indiacting the number of people invited to dinner
print("I am inviting",str(len(friends)),"friends for the dinner.")

I am inviting 3 friends for the dinner.

3.3

In [ ]:
#create a list of items
cities=["kathmandu","dhading","Los Angeles","Washington DC"]
print(cities)

['kathmandu', 'dhading', 'Los Angeles', 'Washington DC']

In [ ]:
#acess the list and print the item
favourite_city=cities[0]
print(favourite_city)

kathmandu

In [ ]:
#change an item in the list by its index
cities[3]="Copenhagen"
print(cities)

['kathmandu', 'dhading', 'Los Angeles', 'Copenhagen']

In [ ]:
#add an item to the list and print the modified list
cities.append("Palo Alto")
print(cities)

['kathmandu', 'dhading', 'Los Angeles', 'Copenhagen', 'Palo Alto']

In [ ]:
#insert an item and print modified list
cities.insert(2,"Boston")
print(cities)

['kathmandu', 'dhading', 'Boston', 'Los Angeles', 'Copenhagen', 'Palo Alto']

In [ ]:
#remove an item using "del"
del cities[0]
print(cities)

['dhading', 'Boston', 'Los Angeles', 'Copenhagen', 'Palo Alto']

In [ ]:
#remove an item using pop
removed_city = cities.pop(3)
print(removed_city)
print(cities)

Copenhagen
['dhading', 'Boston', 'Los Angeles']

In [ ]:
#remove an item using it's value
cities.remove("Boston")
print(cities)

['dhading', 'Los Angeles']