In [ ]:
names=['kai','Abe','ada','Gus','zoe']
upper_names = []
for name in names:
  print(name)
  upper_names.append(name.title())
  print(len(upper_names))
  print(upper_names)
print(upper_names)
print(names)

kai
1
['Kai']
Abe
2
['Kai', 'Abe']
ada
3
['Kai', 'Abe', 'Ada']
Gus
4
['Kai', 'Abe', 'Ada', 'Gus']
zoe
5
['Kai', 'Abe', 'Ada', 'Gus', 'Zoe']
['Kai', 'Abe', 'Ada', 'Gus', 'Zoe']
['kai', 'Abe', 'ada', 'Gus', 'zoe']

adding, counting max and min

In [ ]:
runtime=[4,3.6,7,9]
quickest = min(runtime)
print(quickest)
longest=max(runtime)
print(longest)
alltime=sum(runtime)
print(alltime)

3.6
9
23.6

In [ ]:
finishers=['kai','abe','ada','gus','zoe']
#getting first three
first_three=[]
first_three=finishers[0:3]
#getting second to fourth
middle_three=[]
middle_three=finishers[1:4]
#getting last three
last_three=[]
last_three=finishers[-3:]

print(first_three)
print(middle_three)
print(last_three)

type(middle_three)

['kai', 'abe', 'ada']
['abe', 'ada', 'gus']
['ada', 'gus', 'zoe']

list

In [ ]:
fruit=['apple','fig','date','pear']
#first three
x=fruit[-4:3]
print(x)

['apple', 'fig', 'date']

Copying a list

In [ ]:
finishers=['kai','abe','ada','gus','zoe']
copy_of_finishers= finishers[:] #[:] this makes sure your copy is secured and separated from the list for the computer to read
x=copy_of_finishers[:]
print(finishers)
copy_of_finishers.sort()
print(copy_of_finishers)
print(finishers)
print(x)

['kai', 'abe', 'ada', 'gus', 'zoe']
['abe', 'ada', 'gus', 'kai', 'zoe']
['kai', 'abe', 'ada', 'gus', 'zoe']
['kai', 'abe', 'ada', 'gus', 'zoe']

Tuple

In [ ]:
dimensions=(800,600,25)
#Tuples are indexed:
print(dimensions[2])
#Looping through a tuple:
for dimension in dimensions:
  print(dimension)

25
800
600
25

Sets

In [ ]:
animals={'monkey','tiger',"ape"}
print(type(animals))
print(animals)
for favourite in animals:
  print(f"My favourite animal is {favourite}.")

<class 'set'>
{'ape', 'monkey', 'tiger'}
My favourite animal is ape.
My favourite animal is monkey.
My favourite animal is tiger.

In [ ]:
animals=["ape",'owl','alligator','ox','ape']
print(animals.count('ape'))
apes=[]
while"ape" in animals:
  animals.remove("ape")
  apes.append("ape")
print(animals)
print(apes)

2
['owl', 'alligator', 'ox']
['ape', 'ape']

In [ ]:
numbers=list(range(1,10,2))# the one here is making numbers odd
square=[]
for number in numbers:
  square.append(number**2)
print(numbers)
print(square)

[1, 3, 5, 7, 9]
[1, 9, 25, 49, 81]