List

In [ ]:
friends=['Ben', 'Tina', 'Shristi', 'Diane', 'John']
print(friends)
print(friends[-2])
print(friends[-1])     #last item's index is -1 or 5
print(friends[-5])     #first items's index is -5 or 0
friends[-2]='Gavin'    #This is when we want to replace someone with someone new in the original list without having to acess it.
print(friends[-2])

['Ben', 'Tina', 'Shristi', 'Diane', 'John']
Diane
John
Ben
Gavin

Example 2

In [ ]:
friends=["tina", "Gavin","Shristi","mo", 'tina']
print(friends)

['tina', 'Gavin', 'Shristi', 'mo', 'tina']

Append

In [ ]:
friends.append('Jennifer')  # note: only run this once because it keeps adding jennifer as many times as you run it again
print(friends)

['tina', 'Gavin', 'Shristi', 'mo', 'tina', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer']

In [ ]:
print(friends[-4])
type(friends)

Jennifer

list

Insert

In [ ]:
friends.insert(0,'John')  #the number is where you want to keep it and remember positive number starts from first and with 0 but negative number starts with -1 and from the last
print(friends)

['John', 'tina', 'Gavin', 'Shristi', 'mo', 'tina', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer']

In [ ]:
friends.insert(4,"max")
print(friends)
friends.insert(-11,"Ankita")
print(friends)

['John', 'tina', 'Gavin', 'Shristi', 'max', 'max', 'Ankita', 'max', 'mo', 'max', 'tina', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer']
['John', 'tina', 'Gavin', 'Shristi', 'max', 'max', 'Ankita', 'Ankita', 'max', 'mo', 'max', 'tina', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer', 'Jennifer']

Delete

In [ ]:
print(friends)
del friends[-3:-1]
print(friends)

['Gavin', 'Shristi', 'max', 'max', 'Ankita', 'Ankita', 'max', 'mo', 'max', 'tina', 'Jennifer']
['Gavin', 'Shristi', 'max', 'max', 'Ankita', 'Ankita', 'max', 'mo', 'Jennifer']

Remove method of delete

In [ ]:
friends.remove('max')          #it only removes the first instance of max  #if you keep running it again, then it will remove all instances of max
print(friends)

['Gavin', 'Shristi', 'Ankita', 'Ankita', 'max', 'mo', 'Jennifer']

pop method of delete

In [ ]:
print(friends)
friends.pop(2)
print(friends)

NameError: ignored

In [ ]:
friends=['bb','aa','cc']
print(friends)
friends.pop(2)
print(friends)
friends.pop()
print(friends)

['bb', 'aa', 'cc']
['bb', 'aa']
['bb']

In [ ]:
friends=["tina","19","shristi",'20']
print(friends[0],"is" , friends[1] , "year old.")
print(f'{friends[0]} is {friends[1]} years old.') #in f string we don't need "" or commas

tina is 19 year old.
tina is 19 years old.

Concatunate

In [ ]:
friends=["tina",20,"Gavin",19]
print(friends[0]+" is "+ str(friends[1]) + " years old.")

tina is 20 years old.

In [ ]:
print(type(20))

<class 'int'>